@using static WebToDoList.Service.WeatherService
@model WeatherResponse
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h3>Current Weather in @ViewBag.Weather.Name</h3>
    <p>Temperature: @ViewBag.Weather.Main.Temp°C</p>
    <p>Feels Like: @ViewBag.Weather.Main.Feels_Like°C</p>

    <a asp-controller="Tasks" asp-action="Index" class="btn btn-primary">Go to Task List</a>
</div>


